.sidebar__admin {
    height: 100%;
    background-color: #343a40;
    width: 250px;
}

.sidebar__admin-content {
    padding-top: 20px;
}

.sidebar__admin-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px 10px;
    border-bottom: 1px solid #4b545c;
}

.sidebar__admin-img {
    width: 32px;
    border-radius: 50%;
    border: 1px solid #4b545c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sidebar__admin-heading {
    margin-left: 10px;
    color: #c2c7d0;
    font-size: 1.8rem;
    padding-top: 8px;
}

.sidebar__user-panel {
    padding: 0 20px 10px;
    border-bottom: 1px solid #4b545c;
}

.sidebar__user-info {
    display: flex;
    align-items: center;
}

.sidebar__user-img {
    width: 32px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sidebar__user-heading {
    color: #c2c7d0;
    font-size: 1.6rem;
    margin-left: 10px;
    padding-top: 8px;
}

.sidebar__menu-list {
    padding-left: 0;
    padding: 0 20px 10px;
    list-style: none;
}

.sidebar__menu-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #c2c7d0;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.sidebar__menu-text {
    margin-left: 10px;
}

.sidebar__product-icon {
    position: absolute;
    right: 1px;
}

.menu__list {
    padding-left: 0;
    padding: 0 20px 10px;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #c2c7d0;
    margin-left: 8px;
}


/* Main Admin Product */

.admin__product {
    padding: 20px 0 6px;
}

.admin__product-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 18px;
}

.admin__product-item {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500
}

.admin__footer {
    margin-top: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.admin__product-footer {
    padding-top: 12px;
}

.admin__footer-id {
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 34px 0 0 30px;
}

.admin__footer-img {
    width: 120px;
    height: 92px;
}

.admin__footer-title {
    margin: 34px 0 0;
}

.admin__footer-heading {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
}

.admin__remove-icon {
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    margin: 34px 0 0;
}

.admin__remove-icon:hover {
    color: var(--color-border);
}

.admin__footer-quantity {
    margin: 34px 0 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.admin__footer-price {
    text-align: center;
    color: #555;
    font-size: 1.6rem;
    margin: 34px 0 0;
}

.admin__footer-category {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 34px 0 0;
}

.admin__product-item--center {
    text-align: center;
}

.admin__product-item--justify-end {
    display: flex;
    justify-content: flex-end;
}

.admin__product-item--justify-center {
    display: flex;
    justify-content: center;
}

.admin__footer--txt-center {
    text-align: center;
}