<!-- Footer -->
<footer class="footer">
    <div class="grid wide footer_content">
        <div class="row">
            <div class="col l-4 m-12 c-12">
                <h3 class="footer__title">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <i class="footer__item-icon fas fa-map-marker-alt"></i>
                        <p class="footer__contact footer__contact--m-left">Địa chỉ: 513 Nguyễn Kiệm, Phường 9, Quận Phú Nhuận, TP Hồ Chí Minh
                        </p>
                    </li>
                    <li class="footer__item">
                        <i class="footer__item-icon far fa-envelope-open"></i>
                        <p class="footer__contact">Email: sneakerstore1999@gmail.com
                        </p>
                    </li>
                    <li class="footer__item">
                        <i class="footer__item-icon fas fa-phone-alt"></i>
                        <p class="footer__contact">Hotline: 0987 489 479 - 0799 141 275</p>

                    </li>
                </ul>
            </div>
            <div class="col l-2 m-12 c-12">
                <h3 class="footer__info">Hỗ trợ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a [routerLink]="['']" routerLinkActive="active" class="footer__item-link">Trang chủ</a>
                    </li>
                    <li class="footer__item">
                        <a [routerLink]="['auth/login']" routerLinkActive="active" class="footer__item-link">Đăng nhập</a>
                    </li>
                    <li class="footer__item">
                        <a [routerLink]="['auth/register']" routerLinkActive="active" class="footer__item-link">Đăng ký</a>
                    </li>
                    <li class="footer__item">
                        <a [routerLink]="['/cart']" routerLinkActive="active" class="footer__item-link">Giỏ hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-12 c-12">
                <h3 class="footer__info">Chính sách</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Chính sách bảo mật</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Chính sách vận chuyển</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Chính sách đổi trả</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item-link">Quy định sử dụng</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-12 c-12">
                <h3 class="footer__info">Kết nối với chúng tôi</h3>
                <ul class="footer__list footer__list--d-in-flex">
                    <li class="footer__item footer__item--m-left ">
                        <a href="" class="footer__item-link footer__item--border-radius">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer__item footer__item--m-left ">
                        <a href="" class="footer__item-link footer__item--border-radius">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="footer__item footer__item--m-left ">
                        <a href="" class="footer__item-link footer__item--border-radius">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer__item footer__item--m-left ">
                        <a href="" class="footer__item-link footer__item--border-radius">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <h3 class="footer__info">Thanh toán</h3>
                <ul class="footer__list footer__list--d-in-flex">
                    <li class="footer__item footer__item--m-left">
                        <img src="./assets/img/paypal.png" alt="" class="footer__item-img">
                    </li>
                    <li class="footer__item footer__item--m-left">
                        <img src="./assets/img/visa.png" alt="" class="footer__item-img">
                    </li>
                    <li class="footer__item footer__item--m-left">
                        <img src="./assets/img/american-express.png" alt="" class="footer__item-img">
                    </li>
                    <li class="footer__item footer__item--m-left">
                        <img src="./assets/img/master-card.png" alt="" class="footer__item-img">
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="grid wide">
                <p class="footer__text">© 2021 - Được thiết kế bởi Huỳnh Thanh Long</p>
            </div>
        </div>
        <div class="footer__back-top"><i class="footer__back-icon fas fa-angle-up"></i></div>
    </div>
</footer>